/* StAuth10244: I Esenwa Michael, 000876059 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else. */


body{
    font-family: Arial, sans-serif; 
}

.card{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
}

.card:hover{
    box-shadow: 2px 2px 10px #ccc;
}

.card-header{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body{
    font-size: 16px;
    margin-bottom: 10px;
}

svg{
    border-radius: 50%;
}